/node_modules
/.next
/out
.env.local
.env*.local
/tests/report/results.json
/tests/report/results/
/playwright-report
/test-results
/tests/.auth
/supabase/.temp/
next-env.d.ts
*.tsbuildinfo

.vercel
.env*
